@use '../../all.scss' as *;

@include config(
    'fonts',
    (
        'Inter': (
            (googleFont: true, weight: 400, style: normal),
            (googleFont: true, weight: 700, style: normal),
            (googleFont: true, weight: 900, style: normal),
        ),
    )
);

@include config('font-family', (Inter, sans-serf));
@include config(('type-styles', '.h1', 'font-weight'), 900);

// @include init();
@include boilerplate();

html,
body {
    scroll-behavior: smooth;
}

@include scrollbar(6px, gray(6), 0, gray(9), $nested: false);

#app {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: 100vh auto;
    grid-gap: 1em;
    grid-template-areas:
        'nav main'
        '.   main';
}

.textbox {
    @include textbox(
        (
            border-radius: 9999px,
            padding: 0 1.25em,
        )
    );
}

.nav {
    position: sticky;
    top: 0;
    background-color: white;
    padding: 1em;
    min-width: 320px;
    grid-area: nav;
    overflow-y: scroll;
    border-right: 1px solid gray(5);
}

.nav-filter {
    > input {
        width: 100%;
    }
    // position: sticky;
    // top: 0;
}

.nav-group {
    margin-top: 2em;
}

.nav-header {
    margin-bottom: 1em;
}

.nav-item {
    opacity: 0.66;
    padding: 0.25em;
    &:hover {
        opacity: 1;
        color: accent();
    }
}

.main {
    grid-area: main;
}

.nav-heading {
    font-size: fs(md);
    font-weight: 700;
}

.group {
    //margin-bottom: sp(3);
}

.group-header {
    h2 {
        font-size: fs(h4);
    }
    .markdown {
        margin-top: 0.5em;
    }
    .markdown p {
        font-size: fs(md);
    }
    pre {
        margin-top: 1em;
    }
    margin: 4em 0 2em;
}

.item {
    padding: 2em 0;
}

.item-header {
    font-size: fs(md);
    margin-bottom: 0.5em;
    display: inline-flex;
    font-weight: 400;
}

.item-description {
    width: 100%;
}

.item-description p {
    max-width: 54em;
}

.item-params {
    @include table-grid(auto auto auto 1fr, auto, 0);
    margin: 2em 0;
}

.item-default,
.item-defaults-heading,
.item-params-heading,
.item-param {
    display: contents;
}

.item-defaults-heading,
.item-params-heading {
    font-weight: 700;
    > span {
        padding: 0.5em 1em;
        border-bottom: 2px solid gray(-4);
        &:first-child {
            padding-left: 0;
        }
    }
}

.item-default,
.item-param {
    > span,
    > div {
        padding: 0.5em 1em;
        border-bottom: 1px solid gray(4);
        &:first-child {
            padding-left: 0;
        }
    }
}

.item-examples {
    margin: 2em 0;
}

.item-example {
    max-width: 100%;
    overflow: none;
    width: 100%;
    pre {
        width: 100%;
        display: block;
        overflow: auto;
    }
}

// config defaults

.item-defaults {
    @include table-grid((auto minmax(0, 1fr)), auto, 0);
}

.item-default {
    cursor: pointer;
    position: relative;
    &:hover {
        > span,
        > div {
            background-color: clr(select, $alpha: 0.05);
        }
        .item-default-name::after {
            opacity: 1;
        }
    }
    code,
    pre {
        font-size: rems(13px);
    }
    pre {
        padding: 0.75em;
    }
}

.item-default-default {
    border-radius: get('controls.base.border-radius');
    background-color: gray(5, 0.1);
    padding: 0.75em;
    margin: 1em 0;

    h5 {
        display: block;
        font-size: rems(10px);
        font-weight: 700;
        color: gray();
        text-transform: uppercase;
        margin-bottom: 0.5em;
    }
    pre {
        background-color: transparent;
        width: 100%;
        display: block;
        overflow: auto;
        padding: 0;
    }
}

pre {
    margin: 0;
    border-radius: get('controls.base.border-radius');
    background-color: gray(5, $alpha: 0.1);
    display: block;
    padding: 0.25em 0.5em;
    width: 100%;
    line-height: 1.5;
    code {
        background-color: transparent;
        padding: 0;
        display: block;
    }
}

code {
    background-color: gray(5, $alpha: 0.2);
    padding: 0.25em 0.5em;
    border-radius: get('controls.base.border-radius');
}

strong {
    font-weight: 700;
}

.markdown {
    @include reading();

    table {
        font-size: fs(sm);
        text-align: left;
        width: 100%;
        tr,
        td,
        th {
            text-align: left;
        }
        th {
            border-bottom: 1px solid gray(-4);
        }
        td,
        th {
            padding: 0.25em;
        }
        tr:nth-child(even) td {
            background-color: gray(8);
        }
    }
}

// copy icon

.hljs,
.item-default-name {
    position: relative;
    cursor: pointer;
    @include after {
        position: absolute;
        width: 14px;
        height: 14px;
        color: clr(select);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: inline-svg(
            '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 19"><g fill="#{clr(page-fg)}" fill-rule="nonzero"><path d="M7 0a2.99 2.99 0 0 0-2.816 2H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H9.816A2.99 2.99 0 0 0 7 0Zm0 2a1 1 0 0 1 .389 1.922L7 4l-.389-.078A1.002 1.002 0 0 1 7 2ZM2 4h2v1a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V4h2v10H2V4Z"/><path d="M14 5h1a2 2 0 0 1 1.995 1.85L17 7v10a2 2 0 0 1-1.85 1.995L15 19H5a2 2 0 0 1-1.995-1.85L3 17v-1h2v1h10V7h-1V5Z"/></g></svg>'
        );
        @include transition(opacity, fast);
        opacity: 0;
    }
    &:hover:after {
        opacity: 1;
    }
}

.item-default-name {
    white-space: nowrap;
    &::after {
        left: 0;
        top: 0.75em;
        transform: translateX(-150%);
    }
}

.item-default-desc {
    p em {
        display: inline-flex;
        background-color: accent(-3, $alpha: 0.2);
        color: accent(-5);
        font-size: rems(9px);
        font-weight: 700;
        text-transform: uppercase;
        font-style: normal;
        height: 1.25em;
        align-items: center;
        padding: 0 0.66em;
        line-height: 1;
        border-radius: 2px;
        position: relative;
        top: -0.25em;
    }
}

.hljs {
    &::after {
        width: 16px;
        height: 16px;

        background-image: inline-svg(
            '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17 19"><g fill="white" fill-rule="nonzero"><path d="M7 0a2.99 2.99 0 0 0-2.816 2H2a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H9.816A2.99 2.99 0 0 0 7 0Zm0 2a1 1 0 0 1 .389 1.922L7 4l-.389-.078A1.002 1.002 0 0 1 7 2ZM2 4h2v1a1 1 0 0 0 1 1h4a1 1 0 0 0 1-1V4h2v10H2V4Z"/><path d="M14 5h1a2 2 0 0 1 1.995 1.85L17 7v10a2 2 0 0 1-1.85 1.995L15 19H5a2 2 0 0 1-1.995-1.85L3 17v-1h2v1h10V7h-1V5Z"/></g></svg>'
        );
        @include right-top(1em, 1em);
    }
}

.copy-button {
    @include button-icon();
}

// highlight.js theme

.hljs {
    padding: 1em 1.5em;
    margin: 1em 0;
    border-radius: 0.5em;

    @include highlightjs();
}
