// load the site configuration
@use '../../site-utils.scss' as *;

@include sanitize();
@include site-basics();

// add the common test classes

.button {
    @include button(());
}

.button-purple {
    @include button(
        (
            accent: purple
        )
    );
}

.button-outline {
    @include button-outline(());
}

.button-outline-purple {
    @include button-outline(
        (
            accent: purple,
            'hover:accent': green
        )
    );
}

.button-text {
    @include button-text(());
}

.textbox {
    @include textbox();
}

.textbox-outline {
    @include textbox(
        (
            bg: clr(page-bg),
            border: 2px solid green
        )
    );
}

.dropdown {
    //@include dropdown();
}
