*,
::before,
::after {
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  cursor: default;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
}

body {
  margin: 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

hr {
  height: 0;
  overflow: visible;
}

main {
  display: block;
}

nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

iframe {
  border-style: none;
}

img {
  border-style: none;
}

svg:not([fill]) {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
}

button,
input,
select {
  margin: 0;
}

button {
  overflow: visible;
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

fieldset {
  border: 1px solid #a0a0a0;
  padding: 0.35em 0.75em 0.625em;
}

input {
  overflow: visible;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  margin: 0;
  overflow: auto;
  resize: vertical;
}

[type=checkbox],
[type=radio] {
  padding: 0;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

details {
  display: block;
}

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[hidden] {
  display: none;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

html {
  font-size: 16px;
}
@media screen and (max-width: 1024px) {
  html {
    font-size: -1;
  }
}

body {
  font-size: 1rem;
}

html,
body {
  font-family: sans-serif;
  font-weight: 400;
  line-height: 1.35;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white;
  color: #3c4246;
}

::selection {
  background: #0061ff;
  color: white;
}

a,
a:hover {
  color: inherit;
  text-decoration: inherit;
}

.link {
  color: #0061ff;
  text-decoration: none;
}
.link:hover {
  color: #004ecc;
  background-color: #e6efff;
  text-decoration: underline;
}

p {
  padding: 0;
  margin: 0;
  line-height: 1.35;
}

button {
  appearance: none;
  display: block;
  outline: none;
  border: none;
  border-radius: 0;
  background: none transparent;
  background-color: none;
  padding: 0;
  width: auto;
  height: auto;
  border-spacing: 0;
  text-align: left;
  text-indent: 0;
  line-height: 1;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li,
ol li {
  padding: 0;
  margin: 0;
}

hr {
  height: 0;
  margin: 2rem 0;
  padding: 0;
  border: none;
  border-top: 1px solid #3c4246;
}

sup {
  line-height: 0.5;
}

.svg-icon path,
.svg-icon circle,
.svg-icon rect,
.svg-icon polygon,
.svg-icon ellipse,
.svg-icon svg path,
.svg-icon svg circle,
.svg-icon svg rect,
.svg-icon svg polygon,
.svg-icon svg ellipse {
  fill: currentColor;
}

.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 2.25rem;
  margin: 0 auto;
  position: relative;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
}

h1, .h1 {
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5em;
  font-size: 4.75rem;
}

h2, .h2 {
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5em;
  font-size: 3.75rem;
}

h3, .h3 {
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5em;
  font-size: 3rem;
}

h4, .h4 {
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5em;
  font-size: 2.5rem;
}

h5, .h5 {
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5em;
  font-size: 2rem;
}

.display1 {
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5em;
  font-size: 7.5rem;
}

.display2 {
  font-weight: 700;
  line-height: 1;
  margin-bottom: 0.5em;
  font-size: 6rem;
}

.sh1 {
  line-height: 1.15;
  margin-bottom: 0.5em;
  font-size: 2.5rem;
}

.sh2 {
  line-height: 1.15;
  margin-bottom: 0.5em;
  font-size: 2rem;
}

.sh3 {
  line-height: 1.15;
  margin-bottom: 0.5em;
  font-size: 1.25rem;
}

.button {
  appearance: none;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 6em;
  padding: 0 1em;
  cursor: pointer;
  line-height: 1.25;
  white-space: nowrap;
  -webkit-touch-callout: none;
  user-select: none;
  transition: background 100ms ease-out 0ms, color 100ms ease-out 0ms, border 100ms ease-out 0ms, box-shadow 100ms ease-out 0ms;
  background-color: #0061ff;
  color: white;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.button:disabled {
  cursor: not-allowed;
}
.button span {
  margin: 0;
  padding: 0;
}
.button:hover {
  background-color: #1a71ff;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.3);
}
.button:active {
  background-color: #0057e6;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.button:disabled {
  background-color: #6496e6;
  box-shadow: none;
}
.button.keyboard-focused {
  box-shadow: 0 0 0 3px rgba(0, 97, 255, 0.5);
}

.button-purple {
  appearance: none;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 6em;
  padding: 0 1em;
  cursor: pointer;
  line-height: 1.25;
  white-space: nowrap;
  -webkit-touch-callout: none;
  user-select: none;
  transition: background 100ms ease-out 0ms, color 100ms ease-out 0ms, border 100ms ease-out 0ms, box-shadow 100ms ease-out 0ms;
  background-color: purple;
  color: white;
  box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
}
.button-purple:disabled {
  cursor: not-allowed;
}
.button-purple span {
  margin: 0;
  padding: 0;
}
.button-purple:hover {
  background-color: #8d1a8d;
  box-shadow: 0px 3px 9px 0px rgba(0, 0, 0, 0.3);
}
.button-purple:active {
  background-color: #730073;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
}
.button-purple:disabled {
  background-color: #6496e6;
  box-shadow: none;
}
.button-purple.keyboard-focused {
  box-shadow: 0 0 0 3px rgba(128, 0, 128, 0.5);
}

.button-outline {
  appearance: none;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 6em;
  padding: 0 1em;
  cursor: pointer;
  line-height: 1.25;
  white-space: nowrap;
  -webkit-touch-callout: none;
  user-select: none;
  transition: background 100ms ease-out 0ms, color 100ms ease-out 0ms, border 100ms ease-out 0ms, box-shadow 100ms ease-out 0ms;
  border-color: #0061ff;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
  color: #0061ff;
}
.button-outline:disabled {
  cursor: not-allowed;
}
.button-outline span {
  margin: 0;
  padding: 0;
}
.button-outline:hover {
  color: #0061ff;
  border-color: #0061ff;
  background-color: rgba(0, 97, 255, 0.05);
}
.button-outline:active {
  color: #004ecc;
  border-color: #004ecc;
  background-color: rgba(0, 78, 204, 0.15);
}
.button-outline:disabled {
  color: #a4a8ab;
  border-color: #a4a8ab;
  background-color: rgba(164, 168, 171, 0.15);
}
.button-outline.keyboard-focused {
  box-shadow: 0 0 0 3px rgba(0, 97, 255, 0.33);
}

.button-outline-purple {
  appearance: none;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 6em;
  padding: 0 1em;
  cursor: pointer;
  line-height: 1.25;
  white-space: nowrap;
  -webkit-touch-callout: none;
  user-select: none;
  transition: background 100ms ease-out 0ms, color 100ms ease-out 0ms, border 100ms ease-out 0ms, box-shadow 100ms ease-out 0ms;
  border-color: purple;
  border-style: solid;
  border-width: 2px;
  background-color: transparent;
  color: purple;
}
.button-outline-purple:disabled {
  cursor: not-allowed;
}
.button-outline-purple span {
  margin: 0;
  padding: 0;
}
.button-outline-purple:hover {
  color: green;
  border-color: green;
  background-color: rgba(0, 128, 0, 0.05);
}
.button-outline-purple:active {
  color: #660066;
  border-color: #660066;
  background-color: rgba(102, 0, 102, 0.15);
}
.button-outline-purple:disabled {
  color: #a4a8ab;
  border-color: #a4a8ab;
  background-color: rgba(164, 168, 171, 0.15);
}
.button-outline-purple.keyboard-focused {
  box-shadow: 0 0 0 3px rgba(128, 0, 128, 0.33);
}

.button-text {
  appearance: none;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  padding: 0 0.5em;
  cursor: pointer;
  line-height: 1.25;
  white-space: nowrap;
  -webkit-touch-callout: none;
  user-select: none;
  transition: background 100ms ease-out 0ms, color 100ms ease-out 0ms, border 100ms ease-out 0ms, box-shadow 100ms ease-out 0ms;
  color: #0061ff;
  transition: color 50ms ease-out 0ms, transform 50ms ease-out 0ms;
}
.button-text:disabled {
  cursor: not-allowed;
}
.button-text span {
  margin: 0;
  padding: 0;
}
.button-text:hover {
  color: #0044b3;
}
.button-text:active {
  color: #0044b3;
  transform: translate3d(0, 1px, 0);
}
.button-text:disabled {
  color: #93979a;
}
.button-text.keyboard-focused {
  box-shadow: 0 0 0 3px rgba(0, 97, 255, 0.33);
}

.textbox {
  appearance: none;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 6em;
  padding: 0 0.5em;
  background-color: #e6e8eb;
  color: #3c4246;
}
.textbox:disabled {
  cursor: not-allowed;
}
.textbox::placeholder {
  color: rgba(60, 66, 70, 0.66);
}
.textbox::-webkit-input-placeholder {
  color: rgba(60, 66, 70, 0.66);
}
.textbox:-moz-placeholder {
  color: rgba(60, 66, 70, 0.66);
}
.textbox::-moz-placeholder {
  color: rgba(60, 66, 70, 0.66);
}
.textbox:-ms-input-placeholder {
  color: rgba(60, 66, 70, 0.66);
}
.textbox:disabled {
  background-color: #f8f8f9;
  color: #8a8e90;
  border: none;
}
.textbox:disabled::placeholder {
  color: #b1b3b5;
}
.textbox:disabled::-webkit-input-placeholder {
  color: #b1b3b5;
}
.textbox:disabled:-moz-placeholder {
  color: #b1b3b5;
}
.textbox:disabled::-moz-placeholder {
  color: #b1b3b5;
}
.textbox:disabled:-ms-input-placeholder {
  color: #b1b3b5;
}
.textbox:read-only {
  background-color: #e9eaed;
  color: #3c4246;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%229%22%20height%3D%2211%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4.5%200a3%203%200%20013%203v1h1a.5.5%200%2001.5.5v6a.5.5%200%2001-.5.5h-8a.5.5%200%2001-.5-.5v-6A.5.5%200%2001.5%204h1V3a3%203%200%20013-3zm0%201.5a1.5%201.5%200%2000-1.493%201.356L3%203v1h3V3a1.5%201.5%200%2000-1.5-1.5z%22%20fill%3D%22%239ea1a3%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
}
.textbox:read-only::placeholder {
  color: #9ea1a3;
}
.textbox:read-only::-webkit-input-placeholder {
  color: #9ea1a3;
}
.textbox:read-only:-moz-placeholder {
  color: #9ea1a3;
}
.textbox:read-only::-moz-placeholder {
  color: #9ea1a3;
}
.textbox:read-only:-ms-input-placeholder {
  color: #9ea1a3;
}
.textbox.keyboard-focused {
  box-shadow: 0 0 0 2px #0061ff;
}

.textbox-outline {
  appearance: none;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 6em;
  padding: 0 0.5em;
  background-color: white;
  color: #3c4246;
}
.textbox-outline:disabled {
  cursor: not-allowed;
}
.textbox-outline::placeholder {
  color: rgba(60, 66, 70, 0.66);
}
.textbox-outline::-webkit-input-placeholder {
  color: rgba(60, 66, 70, 0.66);
}
.textbox-outline:-moz-placeholder {
  color: rgba(60, 66, 70, 0.66);
}
.textbox-outline::-moz-placeholder {
  color: rgba(60, 66, 70, 0.66);
}
.textbox-outline:-ms-input-placeholder {
  color: rgba(60, 66, 70, 0.66);
}
.textbox-outline:disabled {
  background-color: white;
  color: #8a8e90;
  border: none;
}
.textbox-outline:disabled::placeholder {
  color: #b1b3b5;
}
.textbox-outline:disabled::-webkit-input-placeholder {
  color: #b1b3b5;
}
.textbox-outline:disabled:-moz-placeholder {
  color: #b1b3b5;
}
.textbox-outline:disabled::-moz-placeholder {
  color: #b1b3b5;
}
.textbox-outline:disabled:-ms-input-placeholder {
  color: #b1b3b5;
}
.textbox-outline:read-only {
  background-color: white;
  color: #3c4246;
  border: none;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%229%22%20height%3D%2211%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M4.5%200a3%203%200%20013%203v1h1a.5.5%200%2001.5.5v6a.5.5%200%2001-.5.5h-8a.5.5%200%2001-.5-.5v-6A.5.5%200%2001.5%204h1V3a3%203%200%20013-3zm0%201.5a1.5%201.5%200%2000-1.493%201.356L3%203v1h3V3a1.5%201.5%200%2000-1.5-1.5z%22%20fill%3D%22%239ea1a3%22%20fill-rule%3D%22evenodd%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 8px) center;
}
.textbox-outline:read-only::placeholder {
  color: #9ea1a3;
}
.textbox-outline:read-only::-webkit-input-placeholder {
  color: #9ea1a3;
}
.textbox-outline:read-only:-moz-placeholder {
  color: #9ea1a3;
}
.textbox-outline:read-only::-moz-placeholder {
  color: #9ea1a3;
}
.textbox-outline:read-only:-ms-input-placeholder {
  color: #9ea1a3;
}
.textbox-outline.keyboard-focused {
  box-shadow: 0 0 0 2px #0061ff;
}