@use 'px' as *;
@use 'true' as *;

@include test-module('modules.controls') {
    @include test('function control-focus-style') {
        @include assert-equal(
            control-focus-style('outline', red),
            (
                outline-offset: 0px,
                outline: 1px dashed red,
            )
        );
    }
    // test needed: get-control-accent
    @include test('mixin toggle-helper') {
        @include assert {
            // test
            @include output {
                .class {
                    @include toggle-helper(base);
                }
            }
            // output
            @include expect {
                .class > input {
                    position: absolute;
                    appearance: none;
                    opacity: 0;
                    width: 0;
                    height: 0;
                    transform: scale(0);
                }
            }
        }
    }
    @include test('function control-reset') {
        @include assert-equal(
            control-reset(),
            (
                appearance: none,
                box-sizing: border-box,
                position: relative,
                outline: none,
                border: none,
                white-space: nowrap,
                font-size: inherit,
                font-family: sans-serif,
                font-weight: 400,
            )
        );
    }

    @include test('mixin control-reset') {
        @include assert {
            // test
            @include output {
                .class {
                    @include control-reset();
                }
            }
            // output
            @include expect {
                .class {
                    appearance: none;
                    box-sizing: border-box;
                    position: relative;
                    outline: none;
                    border: none;
                    white-space: nowrap;
                    font-size: inherit;
                    font-family: sans-serif;
                    font-weight: 400;
                }
            }
        }
    }
}
