@use 'px' as *;
@use 'true' as *;

@include test-module('site.misc') {
    @include test('mixin focus') {
        @include assert {
            // test
            @include output {
                .class {
                    @include focus() {
                        background: red;
                    }
                }
            }
            // output
            @include expect {
                .class:focus-visible {
                    background: red;
                }
            }
        }
    }

    @include test('mixin aria-checked') {
        @include assert {
            // test
            @include output {
                .class {
                    @include aria-checked() {
                        background: red;
                    }
                }
            }
            // output
            @include expect {
                .class[aria-checked] {
                    background: red;
                }
            }
        }
    }
}
