@use 'px' as *;
@use 'true' as *;

@include test-module('site.shadows') {
    @include test('function depth-shadow') {
        @include assert {
            // test
            @include output {
                .class {
                    box-shadow: depth-shadow(2, 0.5, purple);
                }
            }
            // output
            @include expect {
                .class {
                    box-shadow: 0 1px 2px -0.5px rgba(128, 0, 128, 0.2295),
                        0 3.5px 4px 0px rgba(128, 0, 128, 0.03425),
                        0 1px 5px 1px rgba(128, 0, 128, 0.072);
                }
            }
        }
    }
    @include test('mixin shadow') {
        @include assert {
            // test
            @include output {
                .class {
                    box-shadow: shadow(2);
                }
            }
            // output
            @include expect {
                .class {
                    box-shadow: 0 1px 2px -0.5px rgba(0, 0, 0, 0.21),
                        0 3.5px 4px 0px rgba(0, 0, 0, 0.015), 0 1px 5px 1px rgba(0, 0, 0, 0.06);
                }
            }
        }
    }
    // @include test('shadow') {
    //     @include assert-equal(
    //         shadow(2, black), box-shadow: 0 1px 2px -0.5px rgba(0, 0, 0, 0.21),
    //         0 3.5px 4px 0px rgba(0, 0, 0, 0.015),
    //         0 1px 5px 1px rgba(0, 0, 0, 0.06)
    //     );
    // }
    @include test('mixin shadow-effect') {
        @include assert {
            // test
            @include output {
                @include shadow-effect(2, gray);
            }
            // output
            @include expect {
                filter: drop-shadow(
                    0 1px 2px -0.5px rgba(0, 0, 0, 0.21),
                    0 3.5px 4px 0px rgba(0, 0, 0, 0.015),
                    0 1px 5px 1px rgba(0, 0, 0, 0.06)
                );
            }
        }
    }
}
