@use 'px' as *;
@use 'true' as *;

@include test-module('site.mediaquery') {
    @include test('get-breakpoint') {
        @include assert-equal(get-breakpoint(md), 1366px);
    }

    @include test('mixin media-until') {
        @include assert {
            // test
            @include output {
                .class {
                    @include media-until(md) {
                        background: green;
                    }
                }
            }
            // output
            @include expect {
                @media screen and (max-width: 1366px) {
                    .class {
                        background: green;
                    }
                }
            }
        }
    }
    @include test('mixin media-after') {
        @include assert {
            // test
            @include output {
                .class {
                    @include media-after(sm) {
                        background: blue;
                    }
                }
            }
            // output
            @include expect {
                @media screen and (min-width: 1024px) {
                    .class {
                        background: blue;
                    }
                }
            }
        }
    }
    @include test('mixin media-between') {
        @include assert {
            // test
            @include output {
                .class {
                    @include media-between(sm, md) {
                        background: gray;
                    }
                }
            }
            // output
            @include expect {
                @media screen and (min-width: 1024px) and (max-width: 1366px) {
                    .class {
                        background: gray;
                    }
                }
            }
        }
    }
    @include test('mixin media-until-height') {
        @include assert {
            // test
            @include output {
                .class {
                    @include media-until-height(sm) {
                        background: grey;
                    }
                }
            }
            // output
            @include expect {
                @media screen and (max-height: sm) {
                    .class {
                        background: grey;
                    }
                }
            }
        }
    }
}
