@use 'px' as *;
@use 'true' as *;

/// @todo test
@include test-module('site.transitions') {
    @include test('mixin transition') {
        @include assert {
            // test
            @include output {
                @include transition(transform opacity);
            }
            // output
            @include expect {
                transition: transform 150ms cubic-bezier(0.165, 0.84, 0.44, 1) 0ms,
                    opacity 150ms cubic-bezier(0.165, 0.84, 0.44, 1) 0ms;
            }
        }
    }
    /// @todo Robby: test not working/running?
    @include test('mixin vue-transition-fade') {
        @include assert {
            // test
            @include output {
                .class {
                    @include vue-transition-fade();
                }
            }
            // output
            @include expect {
                .class .fade-enter-active .fade-leave-active {
                    transition: opacity 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
                }
                .class .fade-enter-active {
                    transition-delay: 0;
                }
                .class .fade-leave-active {
                    transition-delay: 0;
                }
                .class .fade-enter,
                .class .fade-leave-to {
                    opacity: 0;
                }
            }
        }
    }
}
