@use 'px' as *;
@use 'true' as *;

@include test-module('utils.typography') {
    @include test('modular-size') {
        @include assert-equal(modular-size(100px, 1.25, -1), 80px);
    }

    @include test('modular-scale') {
        @include assert-equal(
            modular-scale(16px, 0.75, null, (sm base lg)),
            (
                sm: 0.75rem,
                base: 1rem,
                lg: 1.25rem,
            )
        );
    }
    // Robby - need help
    // @include test('font-face') {
    //     @include assert {
    //         // test
    //         @include output {
    //             @include font-face(
    //                 'circular',
    //                 '~assets/fonts/circular/circular-book',
    //                 400,
    //                 null,
    //                 'woff woff2 otf'
    //             );
    //         }
    //         // output
    //         @include expect {
    //             font-family: 'circular';
    //             font-weight: 400;
    //             src: url('~assets/fonts/circular/circular-book.woff woff2 otf')
    //                 format('woff woff2 otf');
    //         }
    //     }
    // }

    @include test('font-smoothing-on') {
        @include assert {
            // test
            @include output {
                @include font-smoothing-on();
            }
            // output
            @include expect {
                font-smooth: always;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
            }
        }
    }
    @include test('font-smoothing-off') {
        @include assert {
            // test
            @include output {
                @include font-smoothing-off();
            }
            // output
            @include expect {
                font-smooth: initial;
                -webkit-font-smoothing: initial;
                -moz-osx-font-smoothing: initial;
            }
        }
    }
}
