@use 'px' as *;
@use 'true' as *;

@include test-module('utils.flatmap') {
    @include test('flat-get') {
        @include assert-equal(
            flat-get(
                (
                    colors: (
                        somecolor: #f00,
                    ),
                ),
                'colors:somecolor'
            ),
            #f00
        );
    }

    @include test-module('utils.flatmap') {
        @include test('flat-set') {
            @include assert-equal(
                flat-set(
                    (
                        colors: (
                            clr1: #f00,
                        ),
                    ),
                    'colors:clr2',
                    #00f
                ),
                (
                    colors: (
                        clr1: #f00,
                        clr2: #00f,
                    ),
                )
            );
        }
    }

    @include test('flatten-map') {
        @include assert-equal(
            flatten-map(
                (
                    colors: (
                        red: #f00,
                        blue: #00f,
                    ),
                )
            ),
            (
                'colors:red': #f00,
                'colors:blue': #00f,
            )
        );
    }

    //NEED HELP WITH ALL OF THEM UNTIL THE LAST ONE
    @include test('flat-has-key') {
        @include assert-equal(
            flat-has-key(
                (
                    colors: (
                        red: #f00,
                        blue: #00f,
                    ),
                ),
                'colors:blue'
            ),
            true
        );
    }
}
