@use 'px' as *;
@use 'true' as *;

@include test-module('utils.layout') {
    @include test('function aspect-to-number (with string)') {
        @include assert-equal(aspect-to-number('5:2'), 2.5);
    }

    @include test('function aspect-to-number (with number)') {
        @include assert-equal(aspect-to-number(2.5), 2.5);
    }

    @include test('mixin first-last-radius') {
        @include assert {
            // test
            @include output {
                @include first-last-radius();
            }
            // output
            @include expect {
                &:first-child {
                    border-top-left-radius: inherit;
                    border-top-right-radius: inherit;
                }
                &:last-child {
                    border-bottom-left-radius: inherit;
                    border-bottom-right-radius: inherit;
                }
                &:first-child:last-child {
                    border-radius: inherit;
                }
            }
        }
    }

    @include test('mixin rel') {
        @include assert {
            // test
            @include output {
                @include rel($t: null, $r: null, $b: null, $l: null);
            }
            // output
            @include expect {
                position: relative;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    }
    @include test('mixin abs') {
        @include assert {
            // test
            @include output {
                @include abs($t: null, $r: null, $b: null, $l: null);
            }
            // output
            @include expect {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    }
    @include test('mixin fixed') {
        @include assert {
            // test
            @include output {
                @include fixed($t: null, $r: null, $b: null, $l: null);
            }
            // output
            @include expect {
                position: fixed;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }
        }
    }
    @include test('mixin left-top') {
        @include assert {
            // test
            @include output {
                @include left-top($l: 0, $t: 0);
            }
            // output
            @include expect {
                position: absolute;
                left: 0;
                top: 0;
            }
        }
    }
    @include test('mixin right-top') {
        @include assert {
            // test
            @include output {
                @include right-top($r: 0, $t: 0);
            }
            // output
            @include expect {
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
    @include test('mixin left-bottom') {
        @include assert {
            // test
            @include output {
                @include left-bottom($l: 0, $b: 0);
            }
            // output
            @include expect {
                position: absolute;
                left: 0;
                bottom: 0;
            }
        }
    }
    @include test('mixin right-bottom') {
        @include assert {
            // test
            @include output {
                @include right-bottom($r: 0, $b: 0);
            }
            // output
            @include expect {
                position: absolute;
                right: 0;
                bottom: 0;
            }
        }
    }
    @include test('mixin abs-fill') {
        @include assert {
            // test
            @include output {
                @include abs-fill();
            }
            // output
            @include expect {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
        }
    }
    @include test('mixin center') {
        @include assert {
            // test
            @include output {
                @include center($left: 50%, $top: 50%, $position: absolute);
            }
            // output
            @include expect {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    @include test('mixin center-x') {
        @include assert {
            // test
            @include output {
                @include center-x($left: 50%, $position: absolute);
            }
            // output
            @include expect {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }
        }
    }
    @include test('mixin center-y') {
        @include assert {
            // test
            @include output {
                @include center-y($top: 50%, $position: absolute);
            }
            // output
            @include expect {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}
