////
/// @group site.rems
////

@use '../utils/all.scss' as *;
// @use 'config.scss' as *;

/// Convert px to rem for a given base font size (the font size of the document root element)
///
@function rems($px, $basepx: get(font-size-base), $round: 0) {
    $basepx: if-null($basepx, get(font-size-base));

    $r: ($px / $basepx) * 1rem;
    @return if($round > 0, math.round-f($r, $round), $r);
}

/// Convert rem to px for a given base font size (the font size of the document root element)
///
@function px($rems, $basepx: null) {
    $basepx: if-null($basepx, get(font-size-base));

    @return ($rems / 1rem) * $basepx;
}
