////
/// @group site.shadows
////

@use '../utils/all.scss' as *;

/// Returns the definition of a standardized drop shadow
@function shadow($depth: null, $color: null) {
    $depth: if-null($depth, 2) / get('shadows:levels');
    $color: if-null($color, $depth) / get('shadows:levels');
    $color: clamp-number($color, 0, 1);

    $x: intp($depth, get('shadows:range-x'));
    $y: intp($depth, get('shadows:range-y'));
    $b: intp($depth, get('shadows:range-blur'));
    $s: intp($depth, get('shadows:range-spread'));
    $color-range: get('shadows:range-color');

    $c: mix(nth-or-val($color-range, 1), nth-or-val($color-range, 2), (1-$color) * 100%);

    @return #{$x} #{$y} #{$b} #{$s} #{$c};
}

/// Create a standard box-shadow
@mixin shadow($depth: null, $color: null) {
    box-shadow: shadow($depth, $color);
}

/// Create a standard drop-shadow as a css filter effect (creates
/// non-rectangular shadows on any content)
@mixin shadow-effect($depth: null, $color: null) {
    filter: drop-shadow(shadow($depth, $color));
}
