////
/// @group site.spacing
////

@use '../utils/all.scss' as *;
// @use 'config.scss' as *;

// Spacing

// for $spacer = 12px, sp(3) returns '36px' and  sp(3,3) returns '36px 36px'
@function sp($val: 1) {
    $spacer: get(spacer);

    @if (is-number($val)) {
        @return if(is-px($spacer), round($val * $spacer), $val * $spacer);
    }

    $vals: ();
    @each $n in $val {
        $vals: append($vals, sp($n));
    }
    @return unquote(list-join($vals, ' '));
}

@function -sp($val) {
    @return sp($val) * -1;
}
