@use '../utils/all.scss' as *;
@use '../site/all.scss' as *;
@use 'helpers.scss' as *;
@use 'base.scss' as *;

@mixin textbox($overrides: ()) {
    // ----------------------------------------------------------------------------
    // config

    $local: flatten-maps-merge(get('controls:base'), get('controls:textbox'), $overrides);

    // ----------------------------------------------------------------------------
    // base

    @include control-base($local);

    // ----------------------------------------------------------------------------
    // local variables / list of overrides

    $height: map-get-path($local, 'height', 2.25em);
    $min-width: map-get-path($local, 'min-width', 0);
    $padding: map-get-path($local, 'padding', 0 0.5em);

    $accent: map-get-path($local, 'accent', primary());
    $bg: map-get-path($local, 'bg', gray(6));
    $fg: map-get-path($local, 'fg', contrast-color($bg));
    $placeholder: shade-if-number(map-get-path($local, 'placeholder', 4), $fg);

    $disabled-bg: shade-if-number(map-get-path($local, 'disabled:bg', 7), $bg);
    $disabled-fg: shade-if-number(map-get-path($local, 'disabled:fg', 4), $fg);
    $disabled-border: map-get-path($local, 'disabled:border', null);
    $disabled-placeholder: shade-if-number(
        map-get-path($local, 'disabled:placeholder', 4),
        $placeholder
    );
    $disabled-icon-fill: shade-if-number(map-get-path($local, 'disabled:icon-fill', 4), $fg);
    $disabled-icon: map-get-path($local, 'disabled:icon', null);

    $readonly-bg: shade-if-number(map-get-path($local, 'readonly:bg', 1), $bg);
    $readonly-fg: shade-if-number(map-get-path($local, 'readonly:fg', 1), $fg);
    $readonly-border: map-get-path($local, 'readonly:border', null);
    $readonly-placeholder: shade-if-number(
        map-get-path($local, 'disabled:placeholder', 1),
        $placeholder
    );
    $readonly-icon-fill: shade-if-number(map-get-path($local, 'readonly:icon-fill', 4), $fg);
    $readonly-icon: map-get-path($local, 'readonly:icon', null);

    $focus-style: map-get-path($local, 'focus-style', shadow);

    // ----------------------------------------------------------------------------
    // style

    background-color: $bg;
    color: $fg;
    height: $height;
    min-width: $min-width;
    padding: $padding;

    @include placeholder {
        color: $placeholder;
    }

    &:disabled {
        background-color: $disabled-bg;
        color: $disabled-fg;
        border: $disabled-border;

        @if ($disabled-icon) {
            background-image: inline-svg(str-replace($readonly-icon, '#fill', $disabled-icon-fill));
            background-repeat: no-repeat;
            background-position: calc(100% - 5px) center;
        }

        @include placeholder {
            color: $disabled-placeholder;
        }
    }
    &:read-only {
        background-color: $readonly-bg;
        color: $readonly-fg;
        border: $readonly-border;

        @if ($readonly-icon) {
            background-image: inline-svg(str-replace($readonly-icon, '#fill', $readonly-icon-fill));
            background-repeat: no-repeat;
            background-position: calc(100% - 5px) center;
        }

        @include placeholder {
            color: $readonly-placeholder;
        }
    }

    @if ($focus-style == 'shadow') {
        @include focus {
            @include control-focus-shadow(rgba($accent, 1), 2px);
        }
    }
}
