////
/// @group site.defaults
////

// NOTE: don't modify this directly unless adding or removing or changing a
// DEFAULT. Site configuration should be done with:
//
// - The init mixin (called before anything else, base settings passed in as
//   parameters). Base settings refer to settings that are used to derive other
//   settings. The are set with init rather than in config so that related
//   settings can be properly computed.
//
// - The config mixin (called to set other / non-base settings)

@use 'utils/all.scss' as *;
@use 'site/all.scss' as *;
// @use 'site/color.scss' as *;
// @use 'site/rems.scss' as *;
// @use 'site/spacing.scss' as *;
// @use 'site/shadows.scss' as *;

@mixin init(
    $font-size-base,
    $color-primary,
    $color-accent: null,
    $gray-base: #c7cacd,
    $gray-range: (#192024, #fafcff),
    $shade-steps: 20,
    $shade-range: (black, white),
    $spacer-px: 12px,
    $page-bg: null,
    $page-fg: null,
    $contrast-light: null,
    $contrast-dark: null
) {
    // ----------------------------------------------------------------------
    // Bases (required for later calculations, must be set by passing in as
    // parameters to init rather than later with config to get proper defaults
    // ----------------------------------------------------------------------

    // base font size (set on the body, used for rems calculations)
    @include config('font-size-base', $font-size-base);

    /// Global default value for spacing functions
    @include config('spacer', rems($spacer-px));

    // global default primary color (updated in init)
    @include config('colors:primary', $color-primary);

    // global dfeaylt accent color (updated in init)
    @include config('colors:accent', ifnull($color-accent, complement($color-primary)));

    // default base (midpoint) for gray color calculations; use to callibrate
    // the midpoint of gray lookups as well as to establish hue for middle grays
    @include config('gray-base', $gray-base);

    // the range for gray lookups, two colors that represent that lightest and darkest grays that
    @include config('gray-range', $gray-range);

    // the total number of available shades in the shade and color functions
    // (value of 20 produces a range of shades from -10, 10)
    @include config('shade-steps', $shade-steps);

    // the default range for color shading
    @include config('shade-range', $shade-range);

    // global default page background color
    @include config('colors:page-bg', white);

    // global default page foreground
    @include config('colors:page-fg', gray(-8));

    // defaults for computing contrast colors
    @include config('contrast-light', ifnull($contrast-light, clr(page-bg)));

    // defaults for computing contrast colors
    @include config('contrast-dark', ifnull($contrast-dark, clr(page-fg)));

    // ----------------------------------------------------------------------
    // Color
    // ----------------------------------------------------------------------

    // override range for computing color shades of the primary color
    @include config('shade-range-primary', null);

    // override range for computing color shades of the accent color
    @include config('shade-range-accent', null);

    // background for selected text
    @include config('selection-bg', primary());

    // foreground/color for selected text
    @include config('selection-fg', contrast-color(primary()));

    // ----------------------------------------------------------------------
    // Typography
    // ----------------------------------------------------------------------

    // responsive base font size adjustments
    // prettier-ignore
    @include config('font-size-breaks', (md: -1));

    // map of standard named font sizes, can be generated with modular-scale or
    // manually as simple mapping between names and sizes; at leat one size must
    // be named 'base' which should correspond to base-font-size
    // prettier-ignore
    @include config('typescale', modular-scale(
            $bases: $font-size-base,
            $ratio: map-get($typescale-ratios, 'major-third'),
            $names: ('xxs', 'xs', 'sm', 'base', 'md', 'lg', 'xl', 'h4', 'h3', 'h2', 'h1', 'd2', 'd1')
        ));

    // default / fallback font family for the site
    @include config('font-family', sans-serif);

    // default / standard font-weight for the site
    @include config('font-weight', 400);

    // default / fallback font family for the site
    @include config('line-height', 1.35);

    // default / fallback font family for the site
    @include config('letter-spacing', null);

    // default heading style (null => inherit from site defaults)
    @include config(
        'headings',
        (
            font-family: null,
            font-weight: 700,
            line-height: 1,
            letter-spacing: null,
            color: null,
            margin-bottom: 0.5em
        )
    );

    // default sub-heading style (null => inherit from site defaults)
    @include config(
        'sub-headings',
        (
            font-family: null,
            font-weight: null,
            line-height: 1.15,
            letter-spacing: null,
            color: null,
            margin-bottom: 0.5em
        )
    );

    // default code / mono style
    @include config(
        'code',
        (
            font-family: 'SFMono-Regular, Menlo, Monaco, Consolas, monospace',
            font-size: 13px,
            font-weight: 400,
            line-height: 1.4
        )
    );

    // ----------------------------------------------------------------------
    // Links
    // ----------------------------------------------------------------------

    // global defaults for links
    @include config(
        'links',
        (
            color: primary(),
            text-decoration: none,
            text-decoration-color: null
        )
    );

    // global defaults for links hover state
    @include config(
        'links-hover',
        (
            color: primary(-2),
            background-color: primary(9),
            text-decoration: underline,
            text-decoration-color: null
        )
    );

    // ----------------------------------------------------------------------
    // Media Queries
    // ----------------------------------------------------------------------

    // default global breakpoints
    @include config(
        'breakpoints',
        (
            xs: 640px,
            sm: 768px,
            md: 1024px,
            lg: 1366px,
            xl: 1600px,
            xx: 1920px
        )
    );

    // the standardized breakpoint where a mobile version of the design begins
    // (not all designs work like this, but certain functions and mixins can
    // provide convenience when it does and this can also be exported to
    // javascript to keep code in sync with css)
    @include config('mobile-breakpoint', 'md');

    // ----------------------------------------------------------------------
    // Transitions
    // ----------------------------------------------------------------------

    // common transitions timings (default required)
    @include config(
        'transitions',
        (
            none: (
                dur: 0,
                ease: null
            ),
            default: (
                dur: 100ms,
                ease: ease-out
            ),
            long: (
                dur: 300ms,
                ease: ease-out
            )
        )
    );

    // ----------------------------------------------------------------------
    // Shadows
    // ----------------------------------------------------------------------

    // number of distinct levels for both parameters ($depth, $color) of the
    // standardized shadow function/mixin
    @include config('shadows:levels', 10);

    // range for the x value of standard shadows (scaled by $depth)
    @include config('shadows:range-x', (0px 0px));

    // range for the y value of standard shadows (scaled by $depth)
    @include config('shadows:range-y', (0px 10px));

    // range for the blur value of standard shadows (scaled by $depth)
    @include config('shadows:range-blur', (0px 30px));

    // range for the spread value of standard shadows (scaled by $depth)
    @include config('shadows:range-spread', (0px 0px));

    // color range for the standardized shadow ($scaled by $color); this
    // effetively also becomes the control of the alpha for the shadow
    @include config('shadows:range-color', (rgba(black, 0.1) rgba(black, 0.6)));

    // ----------------------------------------------------------------------
    // Site Basics
    // ----------------------------------------------------------------------

    // the max width of a standard content container
    @include config('content-max-width', 1440px);

    // standard gutter/margin of a content container
    @include config('gutter', sp(3));

    // ----------------------------------------------------------------------
    // Controls
    // ----------------------------------------------------------------------

    // shared control defaults
    @include config(
        'controls',
        (
            radius: 2px,
            font-family: null,
            font-size: fs(base),
            font-weight: normal,
            height: 2.25em,
            accent: primary()
        )
    );

    @include config(
        'controls:button',
        (
            height: null,
            min-width: 6em,
            padding: 0 1em,
            line-height: 1.25,
            cursor: pointer,
            bg: primary(),
            fg: null,
            shadow: shadow(2, 2),
            hover: (
                bg: 1,
                fg: null,
                shadow: shadow(3, 4)
            ),
            active: (
                bg: -1,
                fg: null,
                shadow: shadow(1, 2)
            ),
            disabled: (
                bg: null,
                fg: null,
                shadow: none
            )
        )
    );
}
