@use '../src/index.scss' as *;

@include config(
    'fonts',
    (
        'Inter': (
            (googleFont: true, weight: 400, style: normal),
            (googleFont: true, weight: 600, style: normal)
        )
    )
);

@include config('font-family', (Inter, sans-serf));

@include defaults();
@include sanitize();
@include basics();

#app {
    display: grid;
    grid-template-columns: auto minmax(0, 1fr);
    grid-template-rows: 100vh auto;
    grid-gap: sp(1);
    grid-template-areas:
        'nav main'
        '.   main';
}

.textbox {
    @include textbox();
}

.nav {
    position: sticky;
    top: 0;
    background-color: gray(-8);
    color: white;
    padding: sp(1);
    min-width: 240px;
    grid-area: nav;
    overflow-y: scroll;
}

.nav-filter {
    > input {
        width: 100%;
        background-color: white;
    }
    // position: sticky;
    // top: 0;
}

.nav-group {
    margin-top: sp(2);
}

.nav-header {
    margin-bottom: sp(1);
}

.nav-item {
    opacity: 0.66;
    &:hover {
        opacity: 1;
    }
}

.main {
    grid-area: main;
    scroll-behavior: smooth;
}

.nav-heading {
    font-size: fs(md);
    font-weight: 700;
}

.group {
    //margin-bottom: sp(3);
}

.group-header {
    font-size: fs(xl);
    margin: sp(2) 0;
}

.item {
    margin-bottom: sp(4);
}

.item-header {
    font-size: fs(md);
    margin-bottom: sp(0.5);
    display: inline-flex;
    font-weight: 400;
}

.item-description {
    max-width: 54em;
}

.item-params {
    @include table-grid(auto auto auto 1fr, auto, 0);
    margin: sp(2) 0;
}

.item-params-heading,
.item-param {
    display: contents;
}

.item-params-heading {
    font-weight: 700;
    span {
        padding: sp(0.5 1);
        border-bottom: 2px solid gray(-4);
    }
}

.item-param {
    span {
        padding: sp(0.5 1);
        border-bottom: 1px solid gray(-4);
    }
}

.item-examples {
    margin: sp(2 0);
}

.item-example {
    max-width: 100%;
    overflow: auto;
    width: 100%;
}

.item-example {
    pre {
        padding: sp(1 1.5);
        border-radius: get('controls:border-radius');
    }
}

// highlight.js theme

.hljs {
    color: #abb2bf;
    background: gray(-8);
}

.hljs-comment,
.hljs-quote {
    color: #5c6370;
    font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
    color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #e06c75;
}

.hljs-literal {
    color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
    color: #98c379;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #61aeee;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
    color: #e6c07b;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}
