/* url(https://fonts.googleapis.com/css?family=+Inter++) */
@import url("https://fonts.googleapis.com/css?family=Inter");
/* url(https://fonts.googleapis.com/css?family=+Inter:700++) */
@import url("https://fonts.googleapis.com/css?family=Inter:700");
/* url(https://fonts.googleapis.com/css?family=+Inter:900++) */
@import url("https://fonts.googleapis.com/css?family=Inter:900");
*,
::before,
::after {
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  cursor: default;
  line-height: 1.5;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  word-break: break-word;
}

body {
  margin: 0;
}

dl dl,
dl ol,
dl ul,
ol dl,
ul dl {
  margin: 0;
}

ol ol,
ol ul,
ul ol,
ul ul {
  margin: 0;
}

hr {
  height: 0;
  overflow: visible;
}

nav ol,
nav ul {
  list-style: none;
  padding: 0;
}

code,
kbd,
samp,
pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: 700;
}

small {
  font-size: 80%;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

iframe {
  border-style: none;
}

table {
  border-collapse: collapse;
}

button,
input,
select {
  margin: 0;
}

button {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

select {
  text-transform: none;
}

textarea {
  margin: 0;
  overflow: auto;
  resize: vertical;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

details {
  display: block;
}

dialog {
  background-color: white;
  border: solid;
  color: black;
  display: block;
  height: -moz-fit-content;
  height: -webkit-fit-content;
  height: fit-content;
  left: 0;
  margin: auto;
  padding: 1em;
  position: absolute;
  right: 0;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  width: fit-content;
}

dialog:not([open]) {
  display: none;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

area,
button,
input,
label,
select,
summary,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

[hidden] {
  display: none;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true],
[disabled] {
  cursor: not-allowed;
}

[aria-hidden=false][hidden] {
  display: initial;
}

[aria-hidden=false][hidden]:not(:focus) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

html {
  font-size: 15px;
}
@media screen and (max-width: 1366px) {
  html {
    font-size: -1;
  }
}

body {
  font-size: 1rem;
}

html,
body {
  font-family: Inter, sans-serf;
  font-weight: 400;
  line-height: normal;
  letter-spacing: normal;
  background-color: white;
  color: #2e3b43;
}

::selection {
  background: #005c98;
  color: white;
}

a {
  color: inherit;
}

a,
a:hover {
  text-decoration: inherit;
}

.link {
  color: #0099fd;
  text-decoration: none;
}
.link:hover {
  background-color: rgba(0, 153, 253, 0.1);
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  margin: 0;
  padding: 0;
  line-height: normal;
}

p {
  font-size: inherit;
  padding: 0;
  margin: 0;
}

button {
  appearance: none;
  display: block;
  outline: none;
  border: none;
  border-radius: 0;
  background: none transparent;
  background-color: transparent;
  padding: 0;
  width: auto;
  height: auto;
  border-spacing: 0;
  text-align: left;
  text-indent: 0;
  line-height: 1;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}
ul li,
ol li {
  padding: 0;
  margin: 0;
}

pre,
code {
  font-family: Menlo, Monaco, Consolas, monospace;
  font-size: 13px;
}

hr {
  height: 0;
  margin: 2rem 0;
  padding: 0;
  border: none;
  border-top: 1px solid #2e3b43;
}

sup {
  line-height: 0.5;
}

.svg-icon path,
.svg-icon circle,
.svg-icon rect,
.svg-icon polygon,
.svg-icon ellipse,
.svg-icon svg path,
.svg-icon svg circle,
.svg-icon svg rect,
.svg-icon svg polygon,
.svg-icon svg ellipse {
  fill: currentColor;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 36px;
  margin: 0 auto;
  position: relative;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.display1 {
  font-weight: 700;
  line-height: 1;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-size: 54px;
  -base: "headings";
}

.display2 {
  font-weight: 700;
  line-height: 1;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-size: 42px;
  -base: "headings";
}

.h1 {
  font-weight: 900;
  line-height: 1;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-size: 36px;
  -base: "headings";
}

.h2 {
  font-weight: 700;
  line-height: 1;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-size: 28px;
  -base: "headings";
}

.h3 {
  font-weight: 700;
  line-height: 1;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-size: 24px;
  -base: "headings";
}

.h4 {
  font-weight: 700;
  line-height: 1;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-size: 20px;
  -base: "headings";
}

.h5 {
  font-weight: 700;
  line-height: 1;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-size: 18px;
  -base: "headings";
}

.sh1 {
  line-height: 1.15;
  margin-bottom: 0.5em;
  font-size: 20px;
  -base: "sub-headings";
}

.sh2 {
  line-height: 1.15;
  margin-bottom: 0.5em;
  font-size: 18px;
  -base: "sub-headings";
}

.sh3 {
  line-height: 1.15;
  margin-bottom: 0.5em;
  font-size: 15px;
  -base: "sub-headings";
}

html,
body {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #d6d9db;
}

::-webkit-scrollbar-track {
  background: #f5f6f6;
}

#app {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: 100vh auto;
  grid-gap: 12px;
  grid-template-areas: "nav main" ".   main";
}

.textbox {
  appearance: none;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: 1px solid #d6d9db;
  white-space: nowrap;
  font-size: inherit;
  font-family: Inter, sans-serf;
  font-weight: 400;
  display: inline-flex;
  border-radius: 9999px;
  min-width: 6em;
  min-height: 2.25em;
  background-color: white;
  color: #2e3b43;
  padding: 0 1.25em;
}
.textbox:disabled, .textbox:disabled:hover, .textbox:disabled:active, .textbox:disabled[aria-checked] {
  cursor: not-allowed;
}
.textbox:focus-visible {
  box-shadow: 0 0 0 3px rgba(0, 153, 253, 0.33);
}
.textbox::placeholder {
  color: currentColor;
  opacity: 0.5;
}
.textbox::-webkit-input-placeholder {
  color: currentColor;
  opacity: 0.5;
}
.textbox:-moz-placeholder {
  color: currentColor;
  opacity: 0.5;
}
.textbox::-moz-placeholder {
  color: currentColor;
  opacity: 0.5;
}
.textbox:-ms-input-placeholder {
  color: currentColor;
  opacity: 0.5;
}

.nav {
  position: sticky;
  top: 0;
  background-color: white;
  padding: 12px;
  min-width: 320px;
  grid-area: nav;
  overflow-y: scroll;
  border-right: 1px solid #ccd0d2;
}

.nav-filter > input {
  width: 100%;
}

.nav-group {
  margin-top: 24px;
}

.nav-header {
  margin-bottom: 12px;
}

.nav-item {
  opacity: 0.66;
  padding: 0.25em;
}
.nav-item:hover {
  opacity: 1;
  color: #0099fd;
}

.main {
  grid-area: main;
}

.nav-heading {
  font-size: 18px;
  font-weight: 700;
}

.group-header {
  margin: 72px 0px 36px;
}
.group-header h2 {
  font-size: 28px;
}
.group-header .markdown {
  margin-top: 6px;
}
.group-header .markdown p {
  font-size: 18px;
}
.group-header pre {
  margin-top: 12px;
}

.item {
  padding: 24px 0px;
}

.item-header {
  font-size: 18px;
  margin-bottom: 6px;
  display: inline-flex;
  font-weight: 400;
}

.item-description {
  width: 100%;
}

.item-description p {
  max-width: 54em;
}

.item-params {
  display: grid;
  grid-template-columns: auto auto auto 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-gap: 0;
  margin: 24px 0;
}

.item-default,
.item-defaults-heading,
.item-params-heading,
.item-param {
  display: contents;
}

.item-defaults-heading,
.item-params-heading {
  font-weight: 700;
}
.item-defaults-heading > span,
.item-params-heading > span {
  padding: 6px 12px;
  border-bottom: 2px solid #5b666d;
}
.item-defaults-heading > span:first-child,
.item-params-heading > span:first-child {
  padding-left: 0;
}

.item-default > span,
.item-default > div,
.item-param > span,
.item-param > div {
  padding: 6px 12px;
  border-bottom: 1px solid #c1c6c9;
}
.item-default > span:first-child,
.item-default > div:first-child,
.item-param > span:first-child,
.item-param > div:first-child {
  padding-left: 0;
}

.item-examples {
  margin: 24px 0px;
}

.item-example {
  max-width: 100%;
  overflow: none;
  width: 100%;
}
.item-example pre {
  width: 100%;
  display: block;
  overflow: auto;
}

.item-defaults {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr);
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-gap: 0;
}

.item-default {
  cursor: pointer;
  position: relative;
}
.item-default:hover > span,
.item-default:hover > div {
  background-color: rgba(0, 92, 152, 0.05);
}
.item-default:hover .item-default-name:after {
  opacity: 1;
}
.item-default code,
.item-default pre {
  font-size: 0.8666666667rem;
}
.item-default pre {
  padding: 9px;
}

.item-default-default {
  border-radius: 3px;
  background-color: rgba(204, 208, 210, 0.1);
  padding: 9px;
  margin: 12px 0px;
}
.item-default-default h5 {
  display: block;
  font-size: 0.6666666667rem;
  font-weight: 700;
  color: #98a0a5;
  text-transform: uppercase;
  margin-bottom: 6px;
}
.item-default-default pre {
  background-color: transparent;
  width: 100%;
  display: block;
  overflow: auto;
  padding: 0;
}

pre {
  margin: 0;
  border-radius: 3px;
  background-color: rgba(204, 208, 210, 0.1);
  display: block;
  padding: 3px 6px;
  width: 100%;
  line-height: 1.5;
}
pre code {
  background-color: transparent;
  padding: 0;
  display: block;
}

code {
  background-color: rgba(204, 208, 210, 0.2);
  padding: 3px 6px;
  border-radius: 3px;
}

strong {
  font-weight: 700;
}

.markdown a,
.markdown span,
.markdown p {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}
.markdown strong {
  font-weight: 600;
}
.markdown p, .markdown iframe, .markdown ul, .markdown ol, .markdown form, .markdown section, .markdown table, .markdown pre {
  margin: 0 0 1em 0;
}
.markdown p:last-child, .markdown iframe:last-child, .markdown ul:last-child, .markdown ol:last-child, .markdown form:last-child, .markdown section:last-child, .markdown table:last-child, .markdown pre:last-child {
  margin-bottom: 0;
}
.markdown ol,
.markdown ul {
  padding-left: 1.25em;
}
.markdown ol li,
.markdown ul li {
  padding-left: 0.25em;
  margin: 0 0 0.25em 0;
}
.markdown ol li:last-child,
.markdown ul li:last-child {
  margin-bottom: 0;
}
.markdown ol ol,
.markdown ol ul,
.markdown ul ol,
.markdown ul ul {
  margin: 0;
}
.markdown ul {
  list-style: disc outside none;
}
.markdown ol {
  list-style: decimal outside none;
}
.markdown ol ol,
.markdown ul ol {
  list-style-type: upper-alpha;
}
.markdown ol ol ol,
.markdown ul ol ol {
  list-style-type: lower-roman;
}
.markdown ol ol ol ol,
.markdown ul ol ol ol {
  list-style-type: lower-alpha;
}
.markdown h1, .markdown .h1 {
  font-weight: 700;
  line-height: 1;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-size: 36px;
}
.markdown h2, .markdown .h2 {
  font-weight: 700;
  line-height: 1;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-size: 28px;
}
.markdown h3, .markdown .h3 {
  font-weight: 700;
  line-height: 1;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-size: 24px;
}
.markdown h4, .markdown .h4 {
  font-weight: 700;
  line-height: 1;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-size: 20px;
}
.markdown h5, .markdown .h5 {
  font-weight: 700;
  line-height: 1;
  margin-top: 0.75em;
  margin-bottom: 0.75em;
  font-size: 18px;
}
.markdown a {
  color: #0099fd;
  text-decoration: underline;
}
.markdown a:hover {
  background-color: rgba(0, 153, 253, 0.1);
  text-decoration: underline;
}
.markdown table {
  font-size: 14px;
  text-align: left;
  width: 100%;
}
.markdown table tr,
.markdown table td,
.markdown table th {
  text-align: left;
}
.markdown table th {
  border-bottom: 1px solid #5b666d;
}
.markdown table td,
.markdown table th {
  padding: 3px;
}
.markdown table tr:nth-child(even) td {
  background-color: #eaeced;
}

.hljs,
.item-default-name {
  position: relative;
  cursor: pointer;
}
.hljs:after,
.item-default-name:after {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  color: #005c98;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2017%2019%22%3E%3Cg%20fill%3D%22%232e3b43%22%20fill-rule%3D%22nonzero%22%3E%3Cpath%20d%3D%22M7%200a2.99%202.99%200%200%200-2.816%202H2a2%202%200%200%200-2%202v10a2%202%200%200%200%202%202h10a2%202%200%200%200%202-2V4a2%202%200%200%200-2-2H9.816A2.99%202.99%200%200%200%207%200Zm0%202a1%201%200%200%201%20.389%201.922L7%204l-.389-.078A1.002%201.002%200%200%201%207%202ZM2%204h2v1a1%201%200%200%200%201%201h4a1%201%200%200%200%201-1V4h2v10H2V4Z%22%2F%3E%3Cpath%20d%3D%22M14%205h1a2%202%200%200%201%201.995%201.85L17%207v10a2%202%200%200%201-1.85%201.995L15%2019H5a2%202%200%200%201-1.995-1.85L3%2017v-1h2v1h10V7h-1V5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  transition: opacity 100ms cubic-bezier(0.165, 0.84, 0.44, 1) 0ms;
  opacity: 0;
}
.hljs:hover:after,
.item-default-name:hover:after {
  opacity: 1;
}

.item-default-name {
  white-space: nowrap;
}
.item-default-name:after {
  left: 0;
  top: 9px;
  transform: translateX(-150%);
}

.item-default-desc p em {
  display: inline-flex;
  background-color: rgba(0, 107, 177, 0.2);
  color: #004d7f;
  font-size: 0.6rem;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  height: 15px;
  align-items: center;
  padding: 0 0.66em;
  line-height: 1;
  border-radius: 2px;
  position: relative;
  top: -0.25em;
}

.hljs:after {
  width: 16px;
  height: 16px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2017%2019%22%3E%3Cg%20fill%3D%22white%22%20fill-rule%3D%22nonzero%22%3E%3Cpath%20d%3D%22M7%200a2.99%202.99%200%200%200-2.816%202H2a2%202%200%200%200-2%202v10a2%202%200%200%200%202%202h10a2%202%200%200%200%202-2V4a2%202%200%200%200-2-2H9.816A2.99%202.99%200%200%200%207%200Zm0%202a1%201%200%200%201%20.389%201.922L7%204l-.389-.078A1.002%201.002%200%200%201%207%202ZM2%204h2v1a1%201%200%200%200%201%201h4a1%201%200%200%200%201-1V4h2v10H2V4Z%22%2F%3E%3Cpath%20d%3D%22M14%205h1a2%202%200%200%201%201.995%201.85L17%207v10a2%202%200%200%201-1.85%201.995L15%2019H5a2%202%200%200%201-1.995-1.85L3%2017v-1h2v1h10V7h-1V5Z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  position: absolute;
  right: 12px;
  top: 12px;
}

.copy-button {
  appearance: none;
  box-sizing: border-box;
  position: relative;
  outline: none;
  border: none;
  white-space: nowrap;
  font-size: inherit;
  font-family: Inter, sans-serf;
  font-weight: 400;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-overflow: ellipsis;
  user-select: none;
  padding: 0.5em;
  border-radius: 3px;
  min-width: 0;
  min-height: 2.25em;
  cursor: pointer;
  background-color: transparent;
  transition: transform 100ms cubic-bezier(0.165, 0.84, 0.44, 1) 0ms;
}
.copy-button:hover {
  transform: translateY(-1px);
}
.copy-button:active {
  transform: translateY(1px);
}
.copy-button:disabled, .copy-button:disabled:hover, .copy-button:disabled:active, .copy-button:disabled[aria-checked] {
  cursor: not-allowed;
  opacity: 0.5;
}

.hljs {
  color: #d6d9db;
  background: #1e2c35;
  padding: 12px 18px;
  margin: 12px 0px;
}
.hljs:hover {
  background-color: #2e3b43;
}

.hljs-comment,
.hljs-quote {
  color: #98a0a5;
  font-style: italic;
}

.hljs-doctag,
.hljs-keyword,
.hljs-formula {
  color: #c678dd;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
  color: #e06c75;
}

.hljs-literal {
  color: #56b6c2;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
  color: #98c379;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
  color: #d19a66;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
  color: #61aeee;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
  color: #e6c07b;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

.hljs-link {
  text-decoration: underline;
}