////
/// @group site.defaults
////

@use '../utils' as *;
@use 'config' as *;
@use 'color' as *;

@include default('color-tags', base dark light);

/// Default dark color for calculating shades
@include default('colors.shade-dark', #303030);

/// Default light color for calculating shades
@include default('colors.shade-light', white);

/// Global default primary color
@include default('colors.accent', #5d5897);

/// Default base gray color
@include default('colors.gray', #a0a0a0);

/// Default page background color
@include default('colors.page-bg', white);

/// Default page foreground
@include default('colors.page-fg', #303030);

/// Default light color used when computing contrast colors
@include default('colors.contrast-light', white);

/// Default light color used when computing contrast colors
@include default('colors.contrast-dark', #303030);

/// Default text selection color
@include default('colors.select', #2f2c4c);

/// Default text selection color
@include default('colors.disabled', #c0c0c0);

/// Default background color for selected text
@include default('colors.selection-bg', #2f2c4c);

/// Default foreground color for selected text
@include default('colors.selection-fg', white);

// FONT METRICS

/// Base font size (set on the body, used for rems calculations)
@include default('font-size-base', 15px);

/// If provided, we'll assume scalable font-size at the root that gets adjusted based on the screen
/// width. This will also result in a scalable value for the mean of 1rem. Rems will still be
/// calculated internally based on the value of font-size-base, but the actual size of 1rem will
/// vary with the screen width. Leave the max-at parameter as null to use container.width (the same
/// behavior as the scale-vw function).
@include default(
    'font-size-scale',
    (
        min: 13px,
        max: 16px,
        max-at: null,
    )
);

/// Default / fallback font family for the site
@include default('font-family', sans-serif);

/// Default / fallback font-weight for the site
@include default('font-weight', 400);

/// Whether to enable font-smoothing (makes letterforms lighter)
@include default('font-smoothing', false);

/// Default / fallback line-height for standard text
@include default('line-height', normal);

/// _boilerplate_ Default / fallback letter spacing for the site
@include default('letter-spacing', normal);

/// Default settings for links
@include default(
    'links',
    (
        color: adjust-color(accent(), $saturation: 40%),
        text-decoration: none,
        text-decoration-color: null,
        hover: (
            color: null,
            text-decoration: underline,
            text-decoration-color: null,
        ),
    )
);

// CONTAINER

/// Default container settings
@include default(
    'container',
    (
        width: 1200px,
        padding: 2rem,
        padding-mobile: 1rem,
    )
);

// MEDIA QUERY

/// Named breakpoints that can be used by the standard mediaquery mixins
/// (e.g. `media-until(md) {...}`).
@include default(
    'breakpoints',
    (
        xs: 640px,
        mobile: 768px,
        sm: 1024px,
        md: 1366px,
        lg: 1600px,
        xl: 1920px,
    )
);
/// The standardized breakpoint where a mobile version of the design begins. Used by the mixin
/// `@media-until-mobile() {...}`.
@include default('mobile-breakpoint', 'mobile');

// TYPOGRAPHY

/// Whether to use rems by default for type lookups
@include default('typography.type-use-rems', true);

/// A map containing a set of type sizes where the key is the name and the value is the size
@include default(
    'typography.type-sizes',
    modular-scale(
        $bases: get('font-size-base'),
        $ratio: $typescale-default,
        $names: (
            'xxs',
            'xs',
            'sm',
            'base',
            'md',
            'lg',
            'xl',
            'h4',
            'h3',
            'h2',
            'h1',
            'd3',
            'd2',
            'd1',
        ),
        $round: 1,
        $rems: false
    )
);

/// Full set of type styles. Each style consists of an optional base (which references a different
/// style in the list) and a set of css properties (using css-map syntax for states if required).
@include default(
    'typography.type-styles',
    (
        heading: (
            font-family: null,
            font-weight: 700,
            line-height: 1,
            letter-spacing: null,
            color: null,
            margin-top: 0.75em,
            margin-bottom: 0.75em,
        ),
        subheading: (
            font-family: null,
            font-weight: null,
            line-height: 1.15,
            letter-spacing: null,
            color: null,
            margin-bottom: 0.5em,
        ),
        code: (
            // prettier-ignore
            font-family: (menlo, monaco, consolas, monospace),
            font-size: 13px,
            font-weight: 400,
            line-height: 1.4,
        ),
        d1: (
            __base: heading,
            __selector: '.d1',
            font-size: fs(8),
        ),
        d2: (
            __base: heading,
            __selector: '.d2',
            font-size: fs(7),
        ),
        d3: (
            __base: heading,
            __selector: '.d3',
            font-size: fs(6),
        ),
        h1: (
            __base: heading,
            __selector: '.h1',
            font-size: fs(5),
        ),
        h2: (
            __base: heading,
            __selector: '.h2',
            font-size: fs(4),
        ),
        h3: (
            __base: heading,
            __selector: '.h3',
            font-size: fs(3),
        ),
        h4: (
            __base: heading,
            __selector: '.h4',
            font-size: fs(2),
        ),
        h5: (
            __base: heading,
            __selector: '.h5',
            font-size: fs(1),
        ),
        sh1: (
            __base: subheading,
            __selector: '.sh1',
            font-size: fs(2),
        ),
        sh2: (
            __base: subheading,
            __selector: '.sh2',
            font-size: fs(1),
        ),
        sh3: (
            __base: subheading,
            __selector: '.sh3',
            font-size: fs(0),
        ),
    )
);

// VARS

/// A prefix to use with site variables to avoid conflicts with other css variables
@include default('vars-prefix', null);

/// Predefined site variables
@include default('vars', null);

// Z-INDEX

/// Z-index layers
@include default('z', null);
