////
/// @group site.shadows
////

@use 'sass:math';
@use '../utils' as *;

/// Creates the syntax for a multi-level shadow
/// @param {*} $blur
/// @param {*} $alpha
/// @param {*} $color
/// @example depth-shadow(2, 0.5, purple) // => shadow: 0 1px 2px -0.5px rgba(128, 0, 128, 0.2295), 0 3.5px 4px 0px rgba(128, 0, 128, 0.03425), 0 1px 5px 1px rgba(128, 0, 128, 0.072)
@function depth-shadow($blur: 8, $alpha: 0.2, $color: black, $suppress-spread: false) {
    $blur: math.div($blur, get('shadows:levels'));
    $ease: false;
    $round: 2;

    $alpha: $alpha * alpha($color);

    $umbra-opacity: intp($blur, get('shadows:umbra:opacity'));
    $penumbra-opacity: intp($blur, get('shadows:penumbra:opacity'));
    $ambient-opacity: intp($blur, get('shadows:ambient:opacity'));

    // level adjustments
    /// @todo Robby, we are getting an error for line 41
    @if ($alpha) {
        // @if ($alpha > 0) {
        //     $umbra-opacity: $umbra-opacity + ((0.6 - $umbra-opacity) * math.div($alpha, 10));
        //     $penumbra-opacity: $penumbra-opacity +
        //         ((0.4 - $penumbra-opacity) * math.div($alpha, 10));
        //     $ambient-opacity: $ambient-opacity + ((0.3 - $ambient-opacity) * math.div($alpha, 10));
        // }
        // @if ($alpha < 0) {
        //     $umbra-opacity: $umbra-opacity + ($umbra-opacity * math.div($alpha, 10));
        //     $penumbra-opacity: $penumbra-opacity + ($penumbra-opacity * math.div($alpha, 10));
        //     $ambient-opacity: $ambient-opacity + ($ambient-opacity * math.div($alpha, 10));
        // }

        $umbra-opacity: ($umbra-opacity * ($alpha * 5));
        $penumbra-opacity: ($penumbra-opacity * ($alpha * 2));
        $ambient-opacity: ($ambient-opacity * ($alpha * 3));
    }

    $umbra: 0 intp($blur, get('shadows:umbra:y'), $ease, $round)
        intp($blur, get('shadows:umbra:blur'), $ease, $round)
        if($suppress-spread, #{''}, intp($blur, get('shadows:umbra:spread'), $ease, $round))
        rgba($color, $umbra-opacity);

    $penumbra: 0 intp($blur, get('shadows:penumbra:y'), $ease, $round)
        intp($blur, get('shadows:penumbra:blur'), $ease, $round)
        if($suppress-spread, #{''}, intp($blur, get('shadows:penumbra:spread'), $ease, $round))
        rgba($color, $penumbra-opacity);

    $ambient: 0 intp($blur, get('shadows:ambient:y'), $ease, $round)
        intp($blur, get('shadows:ambient:blur'), $ease, $round)
        if($suppress-spread, #{''}, intp($blur, get('shadows:ambient:spread'), $ease, $round))
        rgba($color, $ambient-opacity);

    @return (#{$umbra}, #{$penumbra}, #{$ambient});
}

/// Generates a depth shadow using the box-shadow property
@mixin depth-shadow($blur: 8, $alpha: 0.2, $color: black) {
    box-shadow: depth-shadow($blur, $alpha, $color);
}

/// Generates a depth shadow using the filter property
@mixin depth-shadow-effect($blur: 8, $alpha: 0.2, $color: black) {
    $shadow: depth-shadow($blur, $alpha, $color, true);
    filter: drop-shadow(nth($shadow, 1)) drop-shadow(nth($shadow, 2)) drop-shadow(nth($shadow, 3));
}

/// Returns a standardized box shadow
///
/// @example shadow(2) // => 0 1px 2px -0.5px rgba(0, 0, 0, 0.21), 0 3.5px 4px 0px rgba(0, 0, 0, 0.015), 0 1px 5px 1px rgba(0, 0, 0, 0.06);

@function shadow($depth, $alpha: 0.15) {
    $blur: $depth;
    $y: $depth * get('shadows:ratio');
    $y: pow($y, get('shadows:growth'));
    @return 0 #{$y}px #{$blur}px rgba(get('shadows:color'), $alpha);
}

/// Create a standard box-shadow
///
/// @example shadow(2, black) // => box-shadow: 0 1px 2px -0.5px rgba(0, 0, 0, 0.21), 0 3.5px 4px 0px rgba(0, 0, 0, 0.015), 0 1px 5px 1px rgba(0, 0, 0, 0.06);

@mixin shadow($depth: 5, $color: null) {
    box-shadow: shadow($depth);
}

/// Create a standard drop-shadow as a css filter effect (creates
/// non-rectangular shadows on any content)
///
/// @example shadow-effect(2, gray) // => filter: drop-shadow(0 1px 2px -0.5px rgba(0, 0, 0, 0.21), 0 3.5px 4px 0px rgba(0, 0, 0, 0.015), 0 1px 5px 1px rgba(0, 0, 0, 0.06));

@mixin shadow-effect($depth: null, $color: null) {
    filter: drop-shadow(shadow($depth));
}
